:root {
    --font-family: 'SF Pro Display-Bold', Helvetica;
    --primary: #E88565;
    --error: #FF0000;
    --dark: #181A27;
    --grey: #575757;
    --bg-color: rgba(24, 26, 39, 0.05);
    --input-bg: #F6F6F6;
    --separator-color: rgba(165, 165, 165, 0.25);
    --checkbox-color: #D9D9D9;
    --white: #FFFFFF;
    --black: #000000;
    --opacity: 50%;
    --max-width: 768px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 700;
    color: var(--dark);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: var(--font-family);
    border: none;
    cursor: pointer;
}

button:is(.primary) {
    background-color: var(--primary);
    color: var(--white);
    padding: 20px 24px;
    line-height: 135%;
    font-size: 18px;
    width: 100%;
}

button[class="icon"] {
    font-size: 16px;
    line-height: 150%;
    color: var(--dark);
    opacity: var(--opacity);
    font-weight: 700;
    background: transparent;
}

button[class="icon"] img {
    margin-bottom: -5px;
}

input:is(.find) {
    background: url('./img/find.svg') center right 20px no-repeat
}

input:is(.contained), select:is(.contained) {
    border: none;
    background-color: var(--input-bg);
    padding: 20px 16px;
}

input:is(.outlined), textarea:is(.outlined) {
    border: none;
}

input:not([type="checkbox"]):focus-visible, select:focus-visible, textarea:focus-visible {
    outline: none;
}

input:not([type="checkbox"]), select, textarea {
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 700;
    padding: 20px 16px;
    line-height: 135%;
    width: 100%;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    appearance: none;
    outline: 2px solid var(--checkbox-color);
    border: none;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    padding: 6px;
    margin-bottom: -2px;
}

input[type="checkbox"]:not(:checked) ~ label {
    opacity: var(--opacity);
}

input[type="checkbox"]:checked {
    background: url('./img/agree.svg') center center no-repeat;
}

textarea {
    resize: none;
}

select {
    appearance: none;
    background: url('./img/right.svg') center right 20px no-repeat;
}

hr {
    border: none;
    background-color: var(--separator-color);
}

hr:is(.horizontal) {
    height: 1px;
    margin: 0 16px;
}

hr:is(.vertical) {
    width: 1px;
    margin: 16px 0;
}

section h2 {
    font-size: 36px;
    margin-bottom: 40px;
    line-height: 120%;
    text-align: center;
    font-weight: 700;
}

fieldset {
    border: none;
    width: 100%;
}

.hidden {
    display: none !important;
}

.container, .navigation, .footer__content {
    max-width: 988px;
    margin: 0 auto;
}

.navigation {
    position: sticky;
    top: 0;
    background-color: var(--white);
    z-index: 10;
}

.navigation, .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 102px;
    padding: 8px;
}

.navigation__header, .footer__header {
    display: flex;
    gap: 12px;
    align-items: center;
}

.navigation__title, .footer__title {
    font-family: 'Onest', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
}

.navigation__menu {
    display: flex;
    gap: 24px;
    list-style-type: none;
    align-items: center;
}

.navigation__dialog {
    position: absolute;
    top: 40px;
    margin-left: auto;
    margin-right: 10px;
}

.navigation__dialog .navigation__menu {
    flex-direction: column;
}


.header {
    text-align: center;
    margin-bottom: 100px;
}

.header h1 {
    font-size: 64px;
    margin-bottom: 16px;
    line-height: 120%;
    letter-spacing: -1px;
}

.subtitle {
    font-size: 18px;
    line-height: 135%;
    opacity: 50%;
}

.input__group input {
    appearance: none;
}

.input__group input.invalid {
    color: var(--error);
}

.helper__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
}

.active {
    width: 100%;
    color: var(--error);
    padding: 8px 16px;
}

.input__group input:focus ~ label,
.input__group input:not(:focus).valid ~ label,
.input__group textarea:focus ~ label,
.input__group textarea:not(:focus).valid ~ label {
  top: 8px;
  left: 16px;
  font-size: 12px;
  line-height: 135%;
  opacity: 1;
}

.input__group label,
.input__group input:not(:focus).invalid ~ label,
.input__group textarea:not(:focus).invalid ~ label {
    position: absolute;
    color: var(--grey);
    pointer-events: none;
    left: 16px;
    top: 16px;
    line-height: 135%;
}

.input__group {
    position: relative;
}

.search-section {
    display: flex;
    align-items: flex-start;
}

.search-section hr {
    height: 32px;
}

.search-section .input__group, .search-section select{
    flex: 1
}

.search-section button {
    flex: 0
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.map {
    height: 329px;
    background: url('./img/map.svg');
}

.ad {
    text-align: center;
    padding: 33px 0;
    background-color: var(--primary);
    min-width: 728px;
    margin: 0 auto;
}

.categories__container {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    row-gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.category__card {
    padding: 0 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 184px;
}

.category__image {
    width: 80px;
    height: 80px;
}

.category__card p:nth-child(2) {
    font-size: 14px;
    line-height: 130%;
    white-space: nowrap;
}

.category__card p:last-child {
    font-size: 20px;
    line-height: 120%;
}

.countries__container {
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    padding: 32px;
}

.countries__container button {
    width: fit-content;
    margin: 0 auto;
}

.countries__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin-bottom: 24px;
}

.form__container {
    display: flex;
}

.form__container > hr {
    margin: 16px;
}

.input__container {
    width: 100%;
}

.fieldset__group {
    margin-bottom: 24px;
}

.footer {
    margin: 102px 0 0 0;
    background-color: var(--bg-color);
    opacity: var(--opacity);
}

.footer__content {
    margin-bottom: 0;
}

.year {
    white-space: nowrap;
}


@media (max-width: 768px) {
    .navigation {
        margin-bottom: 24px;
    }

    .container {
        padding: 0 16px;
    }

    .header {
        margin-bottom: 24px;
    }

    .header h1 {
        font-size: 36px;
        margin-bottom: 8px;
        letter-spacing: 0;
    }
    
    .subtitle {
        font-size: 16px;
        line-height: 150%;
    }

    .main-content {
        gap: 60px;
    }

    .search-section {
        flex-direction: column;
        align-items: normal;
    }

    .search-section hr {
        height: 1px;
    }

    .map {
        background: url('./img/small-map.svg') no-repeat;
        background-size: cover;
        height: 288px;
    }

    .ad {
        min-width: 320px;
        margin: 0 -16px;
    }

    .category__card {
        width: 136px;
    }

    section h2 {
        font-size: 26px;
        margin-bottom: 24px;
    }

    .countries__list {
        margin-bottom: 16px;
    }

    .form__container {
        flex-direction: column
    }

    .footer {
        margin-top: 40px;
    }
}